<ion-header>
  <ion-navbar color="header">
    <ion-title>Choisissez votre contact</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item
            ion-start
            *ngFor="let contact of contactList;"
            (click)="onLoadContactMessage(contact.email)">
      <ion-avatar slot="end" class="avatar" item-start>
        <img src="../../../assets/imgs/avatar.svg" alt="avatar">
      </ion-avatar>
      <ion-label *ngIf="contact.name && contact.lastname">
        {{ contact.name }} {{ contact.lastname }}
      </ion-label>
      <ion-label *ngIf="!contact.name && !contact.lastname">
        {{ contact.username }} ({{ contact.email }})
      </ion-label>
    </button>
  </ion-list>
</ion-content>
