<ion-header>
  <ion-navbar color="header">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mon compte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <div align="center" margin-top="50px" padding-bottom="30px">
    <ion-avatar class="avatar ion-margin-start" (click)="onTakePhoto()">
      <img src="../../assets/imgs/avatar.svg" *ngIf="!imageUrl">
      <img src="imageUrl" *ngIf="imageUrl">
    </ion-avatar>
    <ion-label style="font-size: 2rem;">{{ person.lastname }} {{ person.name }}</ion-label>
    <p style="font-size: 1.5rem;">@{{ person.username }}, {{ person.sexe }}</p>
  </div>
  <ion-list style="right:0; left:0; margin:0; bottom: 0; position: fixed">
    <ion-item>
      <ion-label>Prénom</ion-label>
      <ion-input [(ngModel)]="person.name" text-right (ionBlur)="onChangeProfile();"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input [(ngModel)]="person.lastname" text-right (ionBlur)="onChangeProfile();"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Pseudo</ion-label>
      <ion-input [(ngModel)]="person.username" text-right (ionBlur)="onChangeProfile();"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="person.email" text-right (ionBlur)="onChangeProfile();"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea style="padding-top:10px" placeholder="Dites nous en plus sur vous..." [(ngModel)]="person.description" (ionBlur)="onChangeProfile();"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
