<ion-header>
  <ion-navbar color="header">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mon compte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <div align="center">
    <ion-avatar class="avatar ion-margin-start" (click)="onTakePhoto()">
      <img src="../../assets/imgs/avatar.svg" *ngIf="!imageUrl">
      <img src="imageUrl" *ngIf="imageUrl">
    </ion-avatar>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-input [(ngModel)]="person.name" text-right style="font-size: 25px" (ionBlur)="onChangeProfile();"></ion-input>
        </ion-col>
        <ion-col col-6>
          <ion-input [(ngModel)]="person.lastname" text-left style="font-size: 25px" (ionBlur)="onChangeProfile();"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input [(ngModel)]="person.email" text-center style="font-size: 15px" (ionBlur)="onChangeProfile();"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="person.age && person.sexe">
        <ion-col col-12>
             {{ person.age }}, {{ person.sexe }}
        </ion-col>
      </ion-row>
      <ion-row padding-top="2%">
        <ion-col col-12 text-center>
          <ion-textarea placeholder="Dites nous en plus sur vous..." [(ngModel)]="person.description" (ionBlur)="onChangeProfile();"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
