<ion-header>
  <ion-navbar color="header">
    <ion-title>{{ contact ? contact.name : null }} {{ contact ? contact.lastname : null }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="message-wrap" *ngIf="contact && user">
    <div *ngFor="let message of messages"
         class="message"
         [class.left]="message.expediteur == contact.username"
         [class.right]="message.expediteur == user.username">
      <img class="user-img" src="../../../assets/imgs/avatar.svg" alt="">
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{message.expediteur}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{message.message}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-list class="list-message">
    <ion-item style="padding:0;">
      <ion-textarea [(ngModel)]="messageText" placeholder="Saisissez votre message..." class="message"></ion-textarea>
    </ion-item>
    <button ion-item class="button-message"
            (click)="onSendMessage()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-list>
</ion-footer>
