<ion-header>
  <ion-navbar color="header">
    <ion-title>{{ contact ? contact.name : null }} {{ contact ? contact.lastname : null }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="contact && user">
    <ion-item *ngFor="let message of messages">
      <ion-avatar class="avatar" item-start *ngIf="message.expediteur == contact.username">
        <img src="../../assets/imgs/avatar.svg" alt="avatar">
      </ion-avatar>
      <ion-label *ngIf="message.expediteur == contact.username">
        <p>{{ message.message }}</p>
      </ion-label>

      <ion-avatar class="avatar" item-end *ngIf="message.expediteur == user.username">
        <img src="../../assets/imgs/avatar.svg" alt="avatar">
      </ion-avatar>
      <ion-label text-right *ngIf="message.expediteur == user.username">
        <p>{{ message.message }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-list class="list-message">
    <ion-item>
      <ion-textarea [(ngModel)]="messageText" placeholder="Saisissez votre message..." class="message"></ion-textarea>
    </ion-item>
    <button ion-item class="button-message"
            (click)="onSendMessage()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-list>
</ion-footer>
